/* trying to decrease font-size globally */
body {
  font-size: 12px;
}

legend {
  font-size: 18px;
}

label {
  font-size: 12px;
}

.form-control {
  font-size: 12px;
}

.btn {
  font-size: 12px;
}
