body {
  padding-top: 80px;
 }


#login-buttons {
  padding: 18px;
}


form-group{
  padding: 10px;
}

.form {
  background: url("/img/grid.png");
  border-radius: 5px;
  border: 7px solid #F28700;
}

.nav-pills {
  margin-top:20px;
	list-style: none;
	overflow: hidden;
	font: 18px Helvetica, Arial, Sans-Serif;
}
.nav-pills > li > {
  text-align: center;
  }

.nav-pills > li > a {
  border-radius: 0;
  color: white;
	text-decoration: none;
	padding: 10px 0 10px 45px;
	background: #005494;                   /* fallback color */
	background: hsla(206,100%,29%,1);
	position: relative;
	display: block;
	float: left;
  width: 100%;
  }

  .nav-pills li a:after {
  	content: " ";
  	display: block;
  	width: 0;
  	height: 0;
  	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  	border-bottom: 50px solid transparent;
  	border-left: 30px solid hsla(206,100%,29%,1);
  	position: absolute;
  	top: 50%;
  	margin-top: -50px;
  	left: 100%;
  	z-index: 2;
  }

  .nav-pills li a:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}

.nav-pills li:first-child a {
	padding-left: 10px;
}
.nav-pills li:nth-child(2) a       { background:        hsla(206,100%,44%,1); }
.nav-pills li:nth-child(2) a:after { border-left-color: hsla(206,100%,44%,1) }
.nav-pills li:nth-child(3) a       { background:        hsla(206,100%,59%,1) }
.nav-pills li:nth-child(3) a:after { border-left-color: hsla(206,100%,59%,1) }
.nav-pills li:nth-child(4) a       { background:        hsla(206,100%,69%,1) }
.nav-pills li:nth-child(4) a:after { border-left-color: hsla(206,100%,69%,1) }
.nav-pills li:nth-child(5) a       { background:        hsla(206,100%,79%,1) }
.nav-pills li:nth-child(5) a:after { border-left-color: hsla(206,100%,79%,1) }
.nav-pills li:nth-child(6) a       { background:        hsla(206,100%,89%,1) }
.nav-pills li:nth-child(6) a:after { border-left-color: hsla(206,100%,89%,1) }
/*.nav-pills li:last-child a {
	background: transparent !important;
	color: black;
	pointer-events: none;
	cursor: default;
}*/

.nav-pills li a:hover { background: hsla(206,100%,29%,1); }
.nav-pills li a:hover:after { border-left-color: hsla(206,100%,29%,1) !important; }

.nav-pills li.disabled a:hover { background: hsla(206,100%,29%,1) }
.nav-pills li.disabled a:hover:after { border-left-color: hsla(206,100%,29%,1) !important; }

.nav-pills li.active a { background: hsla(206,100%,29%,1); }
.nav-pills li a:hover:after { border-left-color: hsla(206,100%,29%,1) !important; }
