body {
  padding-top: 150px;
 }


#login-buttons {
  padding: 10px;
}


form-group{
  padding: 10px;
}

.form {
  background: url("/img/grid.png");
  border-radius: 5px;
  border: 7px solid #F28700;
}
