#login-buttons {
  padding: 10px;
}

fieldset {
  border-radius: 5px;
  border: 7px solid #ccc;
}

legend {
  padding: 10px;
}

header{
  background: url("/img/lavora.jpg") center no-repeat;
  height: 100px;}

form-group{
  padding: 10px;
}

.form {
  background: url("/img/grid.png");
  border-radius: 5px;
  border: 7px solid #F28700;
}
