#application .wizard-next-button {
  padding: 8px;
  border-radius: 10px;
  background: hsla(206, 100%, 29%, 1);
  color: #fff;
  width: 150px;
  margin: 15px 15px 15px 0;
}
#application .wizard-back-button {
  padding: 8px;
  border-radius: 10px;
  background: hsla(206, 100%, 29%, 1);
  color: #fff;
  width: 150px;
  margin: 15px 15px 15px 0;
}
#application .wizard-submit-button {
  padding: 8px;
  border-radius: 10px;
  background: green;
  color: #fff;
  width: 150px;
  margin: 15px 15px 15px 0;
}
#application .application {
  background: url("/img/grid.png");
  border-radius: 5px;
  border: 7px solid #F28700;
}
#application .nav-pills {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
  font: 18px Helvetica, Arial, Sans-Serif;
}
#application .nav-pills > li > {
  text-align: center;
}
#application .nav-pills > li > a {
  border-radius: 0;
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 45px;
  background: hsla(206, 100%, 79%, 1);
  /* fallback color */
  background: hsla(206, 100%, 79%, 1);
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
#application .nav-pills li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(206, 100%, 79%, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
#application .nav-pills li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
#application .nav-pills li:first-child a {
  padding-left: 10px;
}

/*.nav-pills li:nth-child(n+2) a       { background:        #ddd; }
.nav-pills li:nth-child(n+2) a:after { border-left-color: #ddd; }
.nav-pills li:nth-child(n-2) a       { background:        hsla(206,100%,44%,1); }
.nav-pills li:nth-child(n-2) a:after { border-left-color: hsla(206,100%,44%,1) }
.nav-pills li:nth-child(n-3) a       { background:        hsla(206,100%,59%,1) }
.nav-pills li:nth-child(n-3) a:after { border-left-color: hsla(206,100%,59%,1) }
.nav-pills li:nth-child(n-4) a       { background:        hsla(206,100%,69%,1) }
.nav-pills li:nth-child(n-4) a:after { border-left-color: hsla(206,100%,69%,1) }
.nav-pills li:nth-child(5) a       { background:        hsla(206,100%,79%,1) }
.nav-pills li:nth-child(5) a:after { border-left-color: hsla(206,100%,79%,1) }
.nav-pills li:nth-child(6) a       { background:        hsla(206,100%,89%,1) }
.nav-pills li:nth-child(6) a:after { border-left-color: hsla(206,100%,89%,1) }
.nav-pills li:last-child a {
	background: transparent !important;
	color: black;
	pointer-events: none;
	cursor: default;
}*/

#application .nav-pills li a:hover {
  background: hsla(206, 100%, 29%, 1);
}
#application .nav-pills li a:hover:after {
  border-left-color: hsla(206, 100%, 29%, 1) !important;
}
#application .nav-pills > li.disabled {
  background: #ddd
}
#application .nav-pills > li.disabled a {
  background: #ddd
}
#application .nav-pills > li.disabled a:hover {
  background: #ddd
}
#application .nav-pills > li.disabled a:after {
  border-left-color: #ddd !important;
}
#application .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: hsla(206, 100%, 29%, 1);
}
#application .nav-pills > li.active > a:after, .nav-pills > li.active > a:focus:after, .nav-pills > li.active > a:hover:after {
  border-left-color: hsla(206, 100%, 29%, 1) !important;
}
#application div.bigstars div.rateit-range {
  background: url(/img/star-white32.png);
  height: 32px;
}
#application div.bigstars div.rateit-hover {
  background: url(/img/star-gold32.png);
}
#application div.bigstars div.rateit-selected {
  background: url(/img/star-red32.png);
}
#application div.bigstars div.rateit-reset {
  background: url(/img/star-black32.png);
  width: 32px;
  height: 32px;
}
#application div.bigstars div.rateit-reset:hover {
  background: url(/img/star-white32.png);
}
